:root{
    --primary-text-color: #ffffff;
    --basic-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-text-color: #757575;
    --text-color: #000000;
    --basic-bcg-color: #ffffff;
    --secondary-bcg-color: #F5F4FA;
    --bcg-color-light: #F5F5F5;
    --bcg-color: #2F303A;
    --button-accent-color: #2196F3;
    --button-primary-color: #F5F4FA;
    --button-text-color: #ffffff;
    --button-filter-color: #212121;

}


/* basic bcg-color #ffffff
secondary bcg-color #F5F4FA
basic text color #212121;
secondary text color #757575;  */

body {
    background-color: var(--basic-bcg-color);
    color: var(--basic-text-color);
}

/* header */

.logo {
    color: var(--accent-text-color);
}
.logo-dark {
    color: var(--text-color) ;
}

.link{
    list-style: none;
    color: var(--basic-text-color);
}

.link .link.studio:hover,
.link .link.studio:focus,
.link .link.studio:active
 {
color: var(--accent-text-color);
}


.link .link.portfolio:hover,
.link .link.portfolio:focus,
.link .link.portfolio:active
{
    color: var(--accent-text-color);
}
.link .link.contacts:hover,
.link .link.contacts:focus,
.link .link.contacts:active {
color:var(--accent-text-color);
}

.mail {
    color: var(--secondary-text-color);
}
.mail:hover,
.mail:focus{
    color: var(--accent-text-color);
}

.tel {
    color:var(--secondary-text-color) ;
}
.tel:hover,
.tel:focus{
    color: var(--accent-text-color);
} 

/* main */
.header {
    background-color: var(--bcg-color);
}

.header.text {
    color: var(--primary-text-color);
}

.header.button{
    background-color: var(--button-accent-color);
    color: var(--button-text-color);
}

.header.button:active{
    background-color: #188CE8;
}

.feature {
    background-color: var(--bcg-color-light);
    list-style: none;
}


.feature.text {
    color: var(--secondary-text-color);
}

.gallery {
    background-color:var(--bcg-color-light);
    list-style: none;
}
.gallery.title {
    color: var(--basic-text-color);
    
}

.team {
    background-color: var(--secondary-bcg-color);
}
.team.title {
    color: var(--basic-text-color);
}
.team.list {
    list-style: none;
}

.team.worker {
    color:  var(--basic-text-color);
}

.team.job {
    color: var(--secondary-text-color);
}

/* footer */

.footer {
    background: #2F303A;
}

.logo-light {
    color: var(--primary-text-color);
}

.footer.list {
    list-style: none;
}

.footer.map  {
    color: var(--primary-text-color);
}

.footer.mail {
color: rgba(255, 255, 255, 0.6);
}

.footer.mail:hover,
.footer.mail:focus{}

.footer.tel {
color: rgba(255, 255, 255, 0.6);
}

.footer.tel:hover,
.footer.tel:focus {}


/* portfolio */

.main.page {
    background-color: var(--bcg-color-light);
}

.filter.button{
background-color: var(--button-primary-color);
color: var(--button-filter-color);
}

.filter.button:hover,
.filter.button:focus,
.filter.button:active{
    background-color: var(--button-accent-color);
    color: var(--button-text-color);
}

.portfolio.hidden{}

.portfolio.list{
    list-style: none;
}

.portfolio.container{
    background-color: var(--basic-bcg-color);
}
.portfolio.foto {}

.portfolio.title{
    color: var(--basic-text-color);
}
.portfolio.product {
    color: var(--secondary-text-color);
}